@import "../../css/variables.scss";

.featured {
  padding-top: 2rem;
}

.container {
  @include section-center;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.grid {
  @include grid;
}
