@import "../../css/variables.scss";

.featured {
  padding-top: 2rem;
}

.container {
  @include section-center;
}

.title {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 18rem));
  grid-gap: 4rem;
  padding: 2rem 0;
  //   align-items: center;
  justify-content: center;
}
