@import "../../css/variables.scss";

.category {
  overflow: hidden;
}

.container {
  @include section-center;
  margin-top: $header-height + $announcement-height;
}

.title {
  text-align: center;
}
