@import "../../css/variables.scss";

.container {
  @include section-center;
}

.title {
  margin: 2rem 0;
  text-align: center;
}

.cartContainer {
  @include flex-col;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.checkoutBox {
  margin: 2rem 0;

  button {
    @include btn;
    font-weight: 600;
    font-size: 1.5rem;
  }
}
