@import "../../css/variables.scss";

.container {
  @include section-center;
  min-height: $full-height;
  padding-top: 2rem;
  margin-top: $header-height + $announcement-height;
  overflow: hidden;
}

.title {
  margin: 0 0 2rem 0;
  text-align: center;
}

.cartContainer {
  @include flex-col;
  max-width: 300px;
  margin: 0 auto;
}

.cartItems {
  display: grid;
  grid-template-columns: 1fr;
}

.checkoutBox {
  margin: 2rem 0;
  text-align: center;
  h3 {
    margin-bottom: 0.5rem;
  }

  button {
    @include btn;
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }
}

.error {
  text-align: center;
  margin-bottom: 2rem;

  button {
    @include btn;
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 2rem;
  }
}

.price {
  color: $green;
}

@media only screen and (min-width: 768px) {
  .cartContainer {
    max-width: 600px;
  }

  .cartItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}
