@import "../../css/variables.scss";

.container {
  @include section-center;
}

.title {
  margin: 2rem 0;
  text-align: center;
}

.cartList {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}
