@import "../../css/variables.scss";

.container {
  label {
    margin-right: 0.5rem;
    color: $primary;
  }
}
.select {
  width: 50%;
  margin-top: 0.2rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0;
  border: 1px solid $primary;
  color: $primary;
  background-color: $base-color;
  font-weight: 400;
}

.selectNew {
  margin-top: 0.2rem;
  width: 50%;
  height: 2.2rem;
  padding: 0;
  border-radius: 0;
  font-size: 0.9rem;
  text-align: left;
}

.singleProduct {
  width: 9rem;
  margin-bottom: 0.4rem;
}
