@import "../../css/variables.scss";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: $base-color;
  //   display: none;
  transition: transform 0.3s ease-in-out;
}

.container {
  @include section-center;
  @include flex-col;
  position: relative;
  height: 100%;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;

  ul {
    padding: 1rem 0;
    li {
      margin: 1.2rem 0;
      text-align: center;
      color: $black;
      font-size: 1.5rem;
    }
  }
}

.links {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 30%;
    width: 40%;
    border-top: 1px solid rgba($color: $black, $alpha: 0.5);
  }
}

.icon {
  position: absolute;
  top: 0.75rem;
  right: 0;
  font-size: 2rem;
  color: $black;
}

@media only screen and (min-width: 768px) {
  .nav {
    display: none;
  }
}
