@import "../../css/variables.scss";

.title {
  @include flex-row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  h3 {
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin: 0 1rem;
  }

  svg {
    font-size: 1.2rem;
    color: $black;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    h3,
    svg {
      font-size: 1.4rem;
    }
  }
}
