@import "../../css/variables.scss";

.categories {
  position: relative;
  padding: 2rem 0;
}

.container {
  @include section-center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryCard {
  position: relative;
  width: 100%;
  max-width: 19rem;
  margin: 1rem;
  border: 2px solid $primary;
  border-bottom: none;
  background-color: $primary;
}

.name {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $primary;
  color: $white;
  font-weight: 400;
  padding: 0.5rem 0;
}
