@import "../../css/variables.scss";

.categories {
  position: relative;
  padding: 2rem 0;
}

.container {
  @include section-center;
}

.title {
  @include flex-row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

  h3 {
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin: 0 1rem;
    font-size: 1.4rem;
  }

  svg {
    font-size: 1.4rem;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryCard {
  position: relative;
  width: 15rem;
  margin: 1rem;
  border: 2px solid $primary;
  border-bottom: none;
}

.name {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $primary;
  color: $white;
  font-weight: 400;
  padding: 0.5rem 0;
}

@media only screen and (min-width: 768px) {
  .categoryCard {
    width: 18rem;
  }
}
