@import "../../css/variables.scss";

.categories {
  position: relative;
  padding: 2rem 0;

  &:after {
    @include border-top;
  }
}

.container {
  @include section-center;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryCard {
  position: relative;
  width: 15rem;
  margin: 1rem;
}

.name {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $primary;
  color: $white;
  font-weight: 400;
  padding: 0.5rem 0;
}

@media only screen and (min-width: 768px) {
  .categoryCard {
    width: 18rem;
  }
}
