@import "../../css/variables.scss";

.categories {
  position: relative;
  padding: 2rem 0;

  &:after {
    @include border-top;
  }
}

.container {
  @include section-center;

  h4 {
    text-align: center;
  }
}
