@import "../../css/variables.scss";

.hero {
  height: 350px;
  background-color: $hero-color;
}

.container {
  @include section-center;
  @include flex-row;
  justify-content: center;
  align-items: center;
}

.text {
  button {
    @include btn;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.images {
  @include flex-row;
}

.model1 {
  width: 134px;
  height: 350px;
}

.model2 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 500px;
  }

  .text {
    text-align: center;
  }

  .model1 {
    width: 191px;
    height: 500px;
    margin: 0 4rem;
  }

  .model2 {
    display: block;
    width: 193px;
    height: 500px;
  }
}
