@import "../../css/variables.scss";

.hero {
  height: 450px;
  background-color: $hero-color;
  overflow: hidden;
}

.container {
  @include section-center;
  @include flex-row;
  justify-content: center;
  align-items: center;
}

.text {
  h1 {
    display: none;
  }

  h2 {
    font-weight: 400;
  }
  button {
    @include btn;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.images {
  @include flex-row;
}

.model1 {
  width: 165px;
  height: 100%;
}

.model2 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 700px;
  }

  .text {
    h1 {
      display: block;
      font-weight: 400;
      font-size: 6rem;
      line-height: 1.1;
    }

    text-align: center;
  }

  // .model1 {
  //   width: 251px;
  //   height: 700px;
  //   margin: 0 4rem;
  // }

  .model1 {
    height: 100%;
    width: 255px;
    margin: 0 4rem;
  }

  .model2 {
    display: block;
    width: 193px;
    height: 500px;
  }
}
