@import "../../css/variables.scss";

.card {
  max-width: 280px;
  overflow: hidden;
}

.image {
  max-width: 280px;
}
.text {
  @include flex-col;
  padding: 1rem;
  text-align: center;
  align-items: center;

  p {
    margin-bottom: 0.2rem;
  }

  button {
    width: 50%;
  }
}

.name {
  font-weight: 600;
  font-size: 1.2rem;
}

.category {
  font-size: 0.9rem;
  color: $grey;
}

.price {
  color: $green;
  font-weight: 600;
  font-size: 1rem;
}

.cart {
  @include btn;
  font-weight: 600;
}
