@import "../../css/variables.scss";

.card {
  max-width: 280px;
  border: 1px solid rgba($color: #000000, $alpha: 0.05);
  // background-color: rgba($color: #000000, $alpha: 0.025);
  border-radius: 20px;
  overflow: hidden;
}

.image {
  max-width: 280px;
}
.text {
  padding: 1rem;
  text-align: center;

  p {
    margin-bottom: 0.2rem;
  }
}

.name {
  font-weight: 600;
  font-size: 1.2rem;
}

.category {
  font-size: 0.9rem;
  color: $grey;
}

.price {
  color: $green;
  font-weight: 600;
  font-size: 1rem;
}

.cart {
  @include btn;
  font-weight: 600;
}
