@import "../../css/variables.scss";

.card {
  max-width: 280px;
  // border: 4px solid rgba($color: $hero-color, $alpha: 1);
  // background-color: rgba($color: $hero-color, $alpha: 1);
  // border-radius: 20px;
  overflow: hidden;
}

.image {
  max-width: 280px;
}
.text {
  @include flex-col;
  padding: 1rem;
  text-align: center;
  align-items: center;

  p {
    margin-bottom: 0.2rem;
  }

  button {
    width: 50%;
  }
  select {
    width: 50%;
    margin-top: 0.2rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0;
    border: 2px solid $primary;
    color: $primary;
    font-weight: 600;

    text-align-last: center;
    text-align: center;
  }
}

.name {
  font-weight: 600;
  font-size: 1.2rem;
}

.category {
  font-size: 0.9rem;
  color: $grey;
}

.price {
  color: $green;
  font-weight: 600;
  font-size: 1rem;
  cursor: default;
}

.cart {
  @include btn;
  font-weight: 600;
}
