@import "../../css/variables.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $header-color;
  z-index: 99;
}

.container {
  @include section-center;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
}

.titleContainer {
  display: inline-block;
}

.title {
  a {
    @include flex-row;
    align-items: center;
  }

  h1 {
    font-size: 1.4rem;
  }
  svg {
    height: 2rem;
    margin-left: 0.3rem;
    fill: $black;
  }
}
.nav {
  display: none;
}

.icons {
  @include flex-row;
  align-items: center;
}

.navIcon,
.cart {
  font-size: 1.5rem;
}

.navIcon {
  margin-left: 0.5rem;
}

.cartAmount {
  margin-left: 0.1rem;
  min-width: 0.6rem;
  font-size: 0.8rem;
}

.cartContainer {
  @include flex-row;
  align-items: center;
}

.total {
  min-width: 4rem;
  text-align: center;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
  }

  .icons {
    justify-content: flex-end;
  }
  .nav {
    display: block;

    ul {
      @include flex-row;

      li {
        font-size: 0.9rem;
        font-weight: 600;
      }

      li:not(:first-child) {
        margin-left: 1.5rem;
      }
    }
  }
  .navIcon {
    display: none;
  }
}
