@import "../../css/variables.scss";

.container {
  @include section-center;
  min-height: $full-height;
  margin-top: $header-height;
  padding-top: 2rem;
}

.measure {
  @include flex-col;
}

.modelImage {
  width: 100%;
}

.text {
  margin-top: 2rem;

  h3 {
    font-weight: 400;
  }

  h3,
  p {
    margin-bottom: 1rem;
  }
  h4 {
    margin-bottom: 0.25rem;
  }

  button {
    @include btn;
    @include flex-row;
    align-items: center;
    min-width: 6rem;
    font-size: 0.9rem;
    margin-bottom: 2rem;

    svg {
      margin-right: 0.4rem;
    }
  }
}

.measure {
  margin: 0 auto;
  align-items: center;
}

.sizeGrid {
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  row-gap: 0.5rem;
  margin: 1rem 0;

  p,
  h4 {
    border-bottom: 1px solid #000;
    padding-bottom: 0.5rem;
    text-align: center;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .measure {
    @include flex-row;
    align-items: flex-start;
  }

  .text {
    margin-left: 1rem;
    margin-top: 0;
  }
}
