@import "../../css/variables.scss";

.item {
  display: grid;
  grid-template-columns: 125px auto;
  align-items: center;
  column-gap: 1rem;
}

.text {
  cursor: default;
}

.category {
  font-size: 0.8rem;
  color: $text-color;
}

.price {
  color: $green;
  font-weight: 600;
}

.quantity {
  display: grid;
  grid-template-columns: repeat(3, 1.5rem);
  place-items: center;
}

.icon {
  color: $primary;
  font-size: 0.8rem;
  cursor: pointer;
}
