@import "../../css/variables.scss";

.item {
  display: grid;
  grid-template-columns: 125px auto;
  align-items: center;
  column-gap: 1rem;
}

.category {
  font-size: 0.8rem;
  color: $text-color;
}

.price {
  color: $green;
  font-weight: 600;
}

.amount {
  @include flex-row;
  align-items: center;
  margin: 0.2rem 0;

  span {
    margin: 0 0.75rem;
  }
}

.icon {
  //   margin-left: 0.75rem;
  color: $primary;
  //   color: rgba($color: #000000, $alpha: 0.7);
  font-size: 0.8rem;
}
