@import "../../css/variables.scss";

.item {
  display: grid;
  grid-template-columns: 125px auto;
  align-items: center;
  column-gap: 1rem;
}

.category {
  font-size: 0.8rem;
  color: $text-color;
}

.price {
  color: $green;
  font-weight: 600;
}
