@import "../../css/variables.scss";

.info {
  margin-top: 2rem;

  h4 {
    margin-bottom: 0.5rem;
  }

  ul {
    list-style-type: unset;

    li {
      font-size: 0.9rem;
      margin: 0 0 0.5rem 1.2rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .info {
    margin-top: 1rem;
  }
}
