@import "../../css/variables.scss";

.info {
  //   place-self: flex-end;

  h4 {
    margin-bottom: 0.5rem;
  }

  ul {
    list-style-type: unset;

    li {
      font-size: 0.9rem;
      margin: 0 0 0.5rem 1.2rem;
    }
  }
}
