@import "../../css/variables.scss";

.container {
  @include section-center;
  @include flex-col;
  justify-content: center;
  min-height: $full-height;
  padding: 2rem 0;
  margin-top: $header-height;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  p {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}

.form {
  @include flex-col;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #000;

  input,
  textarea {
    font-family: $font;
    padding: 0 0.5rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1rem;
  }
  input {
    height: 3.5rem;
  }

  textarea {
    padding-top: 0.5rem;
  }

  button {
    @include btn;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 1rem 0;
  }
}
