@import "../../css/variables.scss";

.featured {
  padding-top: 2rem;
  position: relative;
}

.container {
  @include section-center;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.grid {
  @include grid;
}

.border {
  &:after {
    @include border-top;
  }
}

@media only screen and (min-width: 768px) {
  .grid {
    row-gap: 4rem;
  }
}
