@import "../../css/variables.scss";

.featured {
  padding-top: 2rem;
  position: relative;
}

.container {
  @include section-center;
}

.title {
  text-align: center;
  padding: 1rem 0;
  // font-size: 1.5rem;
  // background-color: $black;
  // color: $base-color;
  // margin-bottom: 1rem;
}

.grid {
  @include grid;
}

.border {
  &:after {
    @include border-top;
  }
}

@media only screen and (min-width: 768px) {
  .grid {
    row-gap: 4rem;
  }
}

// control number of products in grid on index page

.gridIndex {
  section {
    &:nth-child(5),
    &:nth-child(6) {
      display: none;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .gridIndex {
    section {
      &:nth-child(5),
      &:nth-child(6) {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 1495px) {
  .gridIndex {
    section {
      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }
    }
  }
}
