@import "../../css/variables.scss";

.featured {
  padding-top: 2rem;
  position: relative;
}

.container {
  @include section-center;
}

.title {
  @include flex-row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  h3 {
    font-size: 1.4rem;
    margin: 0 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  svg {
    font-size: 1.4rem;
    color: $black;
  }
}

.grid {
  @include grid;
}

@media only screen and (min-width: 768px) {
  .grid {
    row-gap: 4rem;
  }
}

// control number of products in grid on index page

.gridIndex {
  section {
    &:nth-child(5),
    &:nth-child(6) {
      display: none;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .gridIndex {
    section {
      &:nth-child(5),
      &:nth-child(6) {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 1495px) {
  .gridIndex {
    section {
      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }
    }
  }
}
