@import "./variables.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

body {
  line-height: 1.25;
  background-color: $base-color;
  font-family: $font;
}

p {
  color: $text-color;
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4 {
  color: $heading-color;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button,
svg {
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style-type: none;
}

li {
  color: $text-color;
}
