// Colors
$white: #fff;
$green: #56a96a;
$black: #202020;
$grey: #575757;
$primary: #a95695;

// Section colors
$base-color: $white;
$header-color: $white;
$announcement-color: $black;
$hero-color: #fdd6fd;
$footer-color: $black;

// Section height
$header-height: 6rem;
$header-inner-height: 3.5rem;
$announcement-height: 2.5rem;
// $announcement-height: 2.5rem;
$footer-height: 8rem;
$full-height: calc(100vh - #{$header-height} - #{$footer-height});

// Text
$font: "Poppins", sans-serif;
$text-color: $black;
$heading-color: $black;

// Mixins
@mixin section-center {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  max-width: 1350px;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin btn {
  border: none;
  background-color: $primary;
  padding: 0.5rem 1rem;
  color: $white;
  cursor: pointer;
  font-family: $font;
  outline: none;
  border-radius: 5px;
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 18rem));
  column-gap: 4rem;
  row-gap: 2rem;
  justify-content: center;
  padding-bottom: 2rem;
}

@mixin border-top {
  content: "";
  position: absolute;
  top: 0;
  left: 42.5%;
  width: 15%;
  border-top: 1px solid rgba($color: $black, $alpha: 0.25);
}
