// Colors
$white: #fff;
$green: #00b75b;
$black: rgb(37, 37, 37);
$grey: #575757;

// Section colors
$base-color: $white;
$header-color: $white;
$announcement-color: $green;
$hero-color: #f3eeee;
$footer-color: $black;

// Text
$font: "Poppins", sans-serif;
$text-color: $black;
$heading-color: $black;

// Mixins
@mixin section-center {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  max-width: 1350px;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin btn {
  border: none;
  background-color: $green;
  padding: 0.5rem 1rem;
  color: $white;
  cursor: pointer;
}
