// Colors
$white: #fff;
$green: #56a96a;
$black: rgb(37, 37, 37);
$grey: #575757;
$primary: #a95695;

// Section colors
$base-color: $white;
$header-color: $white;
$announcement-color: $primary;
$hero-color: #eef1f3;
$footer-color: $black;

// Header height
$header-height: 3.5rem;
$announcement-height: 2.5rem;
$footer-height: 6rem;

// Text
$font: "Poppins", sans-serif;
$text-color: $black;
$heading-color: $black;

// Mixins
@mixin section-center {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  max-width: 1350px;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin btn {
  border: none;
  background-color: $primary;
  padding: 0.5rem 1rem;
  color: $white;
  cursor: pointer;
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 18rem));
  grid-template-rows: auto auto;
  column-gap: 4rem;
  row-gap: 2rem;
  justify-content: center;
}

@mixin border-top {
  content: "";
  position: absolute;
  top: 0;
  left: 42.5%;
  width: 15%;
  border-top: 1px solid rgba($color: $black, $alpha: 0.5);
}
