@import "../../css/variables.scss";

.footer {
  background-color: $footer-color;
  padding: 1rem 0;
  color: $white;
}

.container {
  @include section-center;
  @include flex-col;
  align-items: center;
}

.payments {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .payments {
    display: block;
  }
  .social {
    text-align: center;
  }

  .copyright {
    text-align: right;
  }
}
