@import "../../css/variables.scss";

.footer {
  background-color: $footer-color;
  height: $footer-height;
  padding: 1rem 0;

  p {
    color: $white;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}

.container {
  @include section-center;
  @include flex-col;
  align-items: center;
}

.social {
  color: $white;
}
.iconFlex {
  @include flex-row;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.icon {
  font-size: 2.2rem;
}

.payments {
  display: none;
}

.copyright {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .payments {
    display: block;
  }
  .social {
    text-align: center;
  }

  .copyright {
    text-align: right;
  }
}
