@import "../../css/variables.scss";

.container {
  @include section-center;
  padding: 1rem 0;
}

.image {
  max-width: 500px;
}

.info {
  p {
    margin-bottom: 0.5rem;
  }

  button {
    @include btn;
    font-size: 1rem;
    font-weight: 600;
  }
}

.price {
  color: $green;
  font-weight: 600;
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
  }

  .image {
    width: 50%;
    margin-right: 1rem;
  }

  .infoSection {
    width: 50%;
    max-width: 500px;
    @include flex-col;
    justify-content: space-evenly;
  }
}
