@import "../../css/variables.scss";

.container {
  @include section-center;
  padding: 1rem 0;
  margin-top: $header-height + $announcement-height;
  overflow: hidden;
}

.image {
  max-width: 500px;
}

.info {
  @include flex-col;
  align-items: center;

  p {
    margin-bottom: 0.5rem;
  }

  button {
    @include btn;
    font-size: 1rem;
    font-weight: 600;
    width: 9rem;
    position: relative;

    .icon {
      position: absolute;
      top: 0.4rem;
      right: -2rem;
      opacity: 0;

      svg {
        color: $green;
        font-size: 1.6rem;
      }
    }
  }
}

.price {
  color: $green;
  font-weight: 600;
  font-size: 1.2rem;
}

.sizeGuide {
  font-size: 0.8rem;
  color: $grey;
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
  }

  .info {
    display: block;
  }

  .image {
    width: 50%;
    margin-right: 1rem;
  }

  .infoSection {
    width: 50%;
    max-width: 500px;
    @include flex-col;
    justify-content: space-evenly;
  }
}
