@import "../../css/variables.scss";

.related {
  //   border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
  //   border-top: 2px solid $black;
  padding: 2rem 0;
  position: relative;

  &:after {
    @include border-top;
  }
}

.container {
  @include section-center;

  h3 {
    text-align: center;
  }
}

.grid {
  @include grid;
}
