@import "../../css/variables.scss";

.related {
  padding: 2rem 0;
  position: relative;
  // background-color: rgb(255, 228, 253);
}

.container {
  @include section-center;
}

.grid {
  @include grid;
}
