@import "../../css/variables.scss";

.announcement {
  height: $announcement-height;
  background-color: $announcement-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $header-height;

  p {
    font-size: 0.9rem;
    font-weight: 600;
    color: $white;
  }
}
