@import "../../css/variables.scss";

.announcement {
  height: $announcement-height;
  background-color: $announcement-color;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height 0.1s ease-in-out;

  p {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.025rem;
    color: $white;
  }
}
